@font-face {
    font-family: 'VT323';
    src: url("./fonts/VT323-Regular.ttf");
}

@font-face {
    font-family: 'Kong';
    src: url("./fonts/kongtext.ttf");
}

@font-face {
    font-family: 'PixelFont7';
    src: url("./fonts/PixelFont7.ttf");
}

body {
    background-color: black;
    margin: 0;
    padding-left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2 !important;
    background-color: 'transparent';
}

#buffer {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -3 !important;
    background-color: transparent;
}

#paint {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1 !important;
    background-color: transparent;
}

#backBluffer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2 !important;
    background-color: black;
}

#audio {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -4 !important;
    display: none;
}

#textFill{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'VT323';
    overflow-wrap: break-word;
    z-index: -1;

    background: radial-gradient(circle, rgba(148,87,0,1) 15%, rgba(148,87,0,1) 20%, rgba(255,221,0,1) 27%, rgba(255,221,0,1) 35%, rgb(61, 122, 53) 45%);
    background-clip: text;
    color: transparent;
}